@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Varela+Round');

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', sans-serif, cursive !important;
    color: #fff !important;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.cursive-font {
    font-family: 'Great Vibes', cursive !important;
}

.absolute-center {
    position: absolute !important;
    bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
}

.small-chip {
    padding: 2px;
    margin: 2px;
    display: inline-block;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    /*background: linear-gradient(141deg, #03201e 0%, #113135 51%, #224552 75%);*/
}

/* ---- social icons ---- */
.an-email:link, .an-email:visited {
    color: #ffffff;
    text-decoration: none;
    pointer-events: initial;
}

a {
    text-decoration: none;
    color: #fff;
}

p > a:hover {
    color: #fff;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1% 0 1% 0;
}

._12 {
    font-size: 1.2em;
}

._14 {
    font-size: 1.4em;
}

ul {
    padding: 0;
    list-style: none;
}

.follow-me-social-icons {
    width: 350px;
    display: block;
    margin: 0 auto;
    z-index: 2500;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google-plus {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
}

.fa-google-plus:hover {
    background-color: #e25714;
}

.fa-stack-overflow {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
}

.fa-stack-overflow:hover {
    background-color: #F48024;
}

.fa-github {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
}

.fa-github:hover {
    background-color: #24292e;
    color: white;
}

/*--- scrollify ---*/

.a-href:link, .a-href:visited {
    color: #b8b8b8;
    text-decoration: none;
    pointer-events: initial;
}

.scroll {
    position: relative;
    font-size: 1.3em;
    margin-top: 20px;
    display: inline-block;
    height: 100px;
}

.scroll:hover {
    color: #B8B8B8;
    text-decoration: none;
}

.scroll:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;

    margin: auto;
    top: 10px;
    right: 0;

    left: 0;
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}

.scroll:after {
    border-right: 2px solid #B8B8B8;
    border-bottom: 2px solid #B8B8B8;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@-webkit-keyframes arrow {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: 30px;
    }
}

@keyframes arrow {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: 30px;
    }
}