@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Varela+Round');

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 0.5rem;
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', sans-serif, cursive !important;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.responsive-wide-image {
    width: 90% !important;
        height: auto !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}

@media (min-width: 575.98px) {
    html {
        font-size: 0.7rem;
    }

    .responsive-wide-image {
        width: 90% !important;
        height: auto !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) {
    html {
        font-size: 0.9rem;
    }

    .responsive-wide-image {
        width: 90% !important;
        height: auto !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/*// Medium devices (tablets, less than 992px)*/
@media (min-width: 992px) {
    html {
        font-size: 0.9rem;
    }

    .responsive-wide-image {
        width: 80% !important;
        height: auto !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/*// Large devices (desktops, less than 1200px)*/
@media (min-width: 1500px) {
    html {
        font-size: 1.1rem;
    }

    .responsive-wide-image {
        width: 80% !important;
        height: auto !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.cursive-font {
    font-family: 'Great Vibes', cursive !important;
}

.absolute-center {
    position: absolute !important;
    bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
}

.small-chip {
    padding: 2px;
    margin: 2px;
    display: inline-block;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    
    background: linear-gradient(218deg, #051937, #002338, #043034, #022e1d, #223102, #191431, #3b1717, #323232);
    background-size: 1600% 1600%;

    animation: profileAnimBG 159s ease infinite; 
}

@-webkit-keyframes profileAnimBG {
    0% {
        background-position: 86% 0%
    }

    50% {
        background-position: 15% 100%
    }

    100% {
        background-position: 86% 0%
    }
}

@-moz-keyframes profileAnimBG {
    0% {
        background-position: 86% 0%
    }

    50% {
        background-position: 15% 100%
    }

    100% {
        background-position: 86% 0%
    }
}

@-o-keyframes profileAnimBG {
    0% {
        background-position: 86% 0%
    }

    50% {
        background-position: 15% 100%
    }

    100% {
        background-position: 86% 0%
    }
}

@keyframes profileAnimBG {
    0% {
        background-position: 86% 0%
    }

    50% {
        background-position: 15% 100%
    }

    100% {
        background-position: 86% 0%
    }
}

/* ---- social icons ---- */
.an-email:link,
.an-email:visited {
    color: #ffffff;
    text-decoration: none;
    pointer-events: initial;
}

a {
    text-decoration: none;
    color: #fff;
}

p>a:hover {
    color: #fff;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1% 0 1% 0;
}

._12 {
    font-size: 1.2em;
}

._14 {
    font-size: 1.4em;
}

ul {
    list-style: none;
}

.follow-me-social-icons {
    width: 350px;
    display: block;
    margin: 0 auto;
    z-index: 2500;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
    pointer-events: initial;
    top: 50vh; left: 0;
    position: fixed;
    transform: translateY(-50%);
    z-index: 80;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-linkedin {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
    width: 40px;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}


.fa-stack-overflow {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
    width: 40px;
}

.fa-stack-overflow:hover {
    background-color: #F48024;
}

.fa-github {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
    width: 40px;
}

.fa-github:hover {
    background-color: #24292e;
    color: white;
}

.fa-google {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(50, 47, 48, 0.6);
    width: 40px;
}

.fa-google:hover {
    background-color: #ea4335;
    color: white;
}

/*--- scrollify ---*/

.a-href:link,
.a-href:visited {
    color: #b8b8b8;
    text-decoration: none;
    pointer-events: initial;
}

.scroll {
    position: relative;
    font-size: 1.3em;
    margin-top: 20px;
    display: inline-block;
    height: 100px;
    z-index: 50;
}

.scroll:hover {
    color: #B8B8B8;
    text-decoration: none;
}

.scroll:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;

    margin: auto;
    top: 10px;
    right: 0;

    left: 0;
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}

.scroll:after {
    border-right: 2px solid #B8B8B8;
    border-bottom: 2px solid #B8B8B8;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@-webkit-keyframes arrow {

    0%,
    100% {
        top: 10px;
    }

    50% {
        top: 30px;
    }
}

@keyframes arrow {

    0%,
    100% {
        top: 10px;
    }

    50% {
        top: 30px;
    }
}

#results {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 10px;
    grid-row-gap: 16px;
    margin: 20px auto;
    width: 920px;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.233);
}

#results a.image {
    width: 280px;
    display: block;
    height: 180px;
    border: 1px solid #ccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:1000px) {
    #results {
        grid-template-columns: repeat(2, 280px);
        width: 620px;
    }
}

@media screen and (max-width: 800px) {
    #results {
        display: block;
        width: 280px;
    }

    #results section {
        margin-bottom: 20px;
    }

    #results a.image {
        width: 280px;
        max-width: 100%;
    }
}

.card_container {
    width: 280px;
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
}


.card_title {
    background: linear-gradient(0deg, rgb(61, 61, 61) 0%, rgba(255, 255, 255, 0) 100%);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.card_image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.shadow_project_image {
    -webkit-filter: drop-shadow(0px -4px 10px rgba(34, 34, 34, 0.6));
    filter: drop-shadow(0px -4px 10px rgba(34, 34, 34, 0.6));
}